{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": ["google", "plugin:flowtype/recommended", "plugin:react/recommended" ],
  "plugins": ["react", "jsx-a11y", "import", "flowtype"],
  "rules": {
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": "off",
    "comma-dangle": "off",
    "quotes": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "react/prop-types": "off",
    "new-cap": "off"
  },
  "settings": {
    "react": {
      "flowVersion": "0.49.1"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
